h1 {
    /* color: red; */
}

#navbar-logo {
    width: 100px;
}

.banner {
    background-color: rgb(247, 234, 234);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.subscribe-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    border-bottom: 1px solid rgb(198, 188, 188);
}

.subscribe-section input {
    margin-right: 20px;
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border-width: 1px;
}

.marketing-posts {
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

#post1 {
    width: 70%;
    height: 500px;
    /* background-color: red; */
    /* background: url(); */
}

#post2 {
    width: 30%;
    height: 500px;
    /* background-color: blue; */
}

#post2-top {
    height: 200px;
    /* background-color: red; */
    background: url('https://img.freepik.com/free-photo/healthy-vegetables-wooden-table_1150-38014.jpg');
    color: white;
    font-weight: bold;
    text-align: center;
}

#post2-bottom {
    height: 200px;
    /* background-color: blue; */
    background: url('https://www.englishclub.com/images/vocabulary/food/vegetables/vegetables.jpg');
    color: white;
    font-weight: bold;

}

.product-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
}